body
{
  font-family: Arial, Helvetica, Verdana, Sans-serif;
  font-size: 13px;
  color: #333333;
  background: #ffffff;
}

.hidden
{
  display: none;
}

h1
{
  margin: 0;
  padding: 0;
}

/* Content */
#content
{
  line-height: 18px;
}

#content h2
{
  margin: 0;
  padding: 0;	
  padding-bottom: 15px;
}

#content p
{
  margin: 0;
  padding: 0;	
  padding-bottom: 15px;
}

/* Navigation */
#main-nav
{
  height: 70px;

  display: table-cell;
  vertical-align: middle;
}

#main-nav ul
{
  margin: 0;
  padding: 0;

  list-style-type: none;
}

#main-nav li
{
  float: left;
  width: 110px;
}

#page-container
{
  width: 80%;
  margin: auto;
}

#footer
{
  font-size: 10px;
}

